{ UseTab: Never, IndentWidth: 4, BreakBeforeBraces: Allman, AllowShortIfStatementsOnASingleLine: false, IndentCaseLabels: false, ColumnLimit: 0, AlignTrailingComments: true, AllowShortLoopsOnASingleLine: false, ConstructorInitializerAllOnOneLineOrOnePerLine: true, ObjCSpaceAfterProperty: true, ObjCSpaceBeforeProtocolList: true, SpaceBeforeAssignmentOperators: true, SpaceBeforeParens: true, SpaceInEmptyParentheses: true }
