.DS_Store

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

*.xcodeproj/xcuserdata/*.xcuserdatad

*.xccheckout
*.xcscmblueprint
*.xcuserdatad
*.swp
*.moved-aside
.idea

profile
DerivedData

Pods
Podfile.lock

DerivedData
build
TAGS
.clang-format
